.b-highlight {
    background-color: rgb(0, 128, 255);
    border-radius: 20px;
    color: white;
    padding: 5px;
    font-size: small;
}

.pu-highlight {
    background-color: rgb(110, 34, 110);
    border-radius: 20px;
    color: white;
    padding: 5px;
    font-size: small;
}

.g-highlight {
    background-color: rgb(66, 113, 66);
    border-radius: 50px;
    color: white;
    padding: 5px;
    font-size: small
}

.o-highlight {
    background-color: orange;
    border-radius: 30px;
    color: white;
    padding: 5px;
    font-size: small;
}

.pi-highlight {
    background-color: rgb(214, 24, 154);
    border-radius: 20px;
    color: white;
    padding: 5px;
    font-size: small;
}

.y-highlight {
    background-color: yellowgreen;
    border-radius: 20px;
    color: white;
    padding: 5px;
    font-size: small;
}

.check {
    color: green;
    width: 20px;
    height: 20px;
    border: 1px solid green;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
}

.cross {
    color: red;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.b-button {
    background-color: rgb(0, 128, 255);
    color: white;
    border-color: rgb(0, 128, 255) ;
    border-radius: 5px;
}

.g-button {
    color: rgba(186, 178, 178, 0.822);
    border-color: rgba(186, 178, 178, 0.822);
    background-color: white;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;

}

li {
    padding: 10px;
}

body {
    background-color: lightgray;
}

header {
    background-color: white;
}

main {
    background-color: white;
    margin:  50px 250px 0;
    padding: 30px;
}

img {
    vertical-align: middle;
}